/* Estilos generales */
body {
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #4a5e8a;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container h1 {
    margin: 0;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.logo-container img {
    width: 50px;
    margin-right: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 30px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffc107;
}

nav ul li a.active {
    color: #ffc107;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section h2 {
    color: #4a5e8a;
}

footer {
    background-color: #4a5e8a;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.derechos-reservados {
    margin: 0;
    flex-grow: 1;
}

/* Estilos para el carrusel */
.carrusel {
    display: flex;
    overflow: hidden;
    margin: 20px auto;
}

.imagen-container {
    margin-right: 20px;
    border-radius: 10px;
}

.imagen-container img {
    width: 600px;
    height: 400px;
    border-radius: 10px;
    transition: transform 0.5s ease;
}

/* Estilos para la sección de redes sociales */
#redes-sociales {
    text-align: center;
    margin-top: 20px;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    transition: transform 0.3s ease;
    display: inline-block;
}

.social-icons a span {
    display: block;
    margin-top: 5px;
    font-family: 'Merriweather', serif;
    color: #333;
    font-weight: bold;
}

.social-icons a:hover {
    transform: translateY(-5px);
}

.social-icons a:hover img {
    transform: scale(1.2);
}

.social-icons a span {
    display: block;
    margin-top: 5px;
}