/* Estilos generales */
body {
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #4a5e8a;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container h1 {
    margin: 0;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.logo-container img {
    width: 50px;
    margin-right: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 30px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffc107;
}

nav ul li a.active {
    color: #ffc107;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section h2 {
    color: #4a5e8a;
}

/* Estilos para el slider */
.carrusel {
    overflow: hidden;
    width: 100%;
}

.carrusel-inner {
    display: flex;
}

.carrusel-inner img {
    flex-shrink: 0;
    width: 50%;
    height: auto;
    margin: 0 5px;
}

/* Estilos para la sección de redes sociales */
#redes-sociales {
    text-align: center;
    margin-top: 20px;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    transition: transform 0.3s ease;
    display: inline-block;
}

.social-icons a span {
    display: block;
    margin-top: 5px;
    font-family: 'Merriweather', serif;
    color: #333;
    font-weight: bold;
}

.social-icons a:hover {
    transform: translateY(-5px);
}

.social-icons a:hover img {
    transform: scale(1.2);
}

.social-icons a span {
    display: block;
    margin-top: 5px;
}

/* Estilos para dispositivos móviles */
@media only screen and (max-width: 600px) {
    header {
        padding: 10px;
    }

    .logo-container h1 {
        font-size: 20px;
    }

    .logo-container img {
        width: 30px;
        margin-right: 5px;
    }

    nav ul {
        display: flex;
        align-items: center;
    }

    nav ul li {
        margin-right: 5px;
    }

    nav ul li a {
        font-size: 12px;
    }

    .carrusel-inner {
        height: auto;
    }

    .carrusel-inner img {
        width: 100%;
        height: auto;
    }

    .social-icons a {
        margin: 0 5px;
    }

    .social-icons a span {
        font-size: 10px;
    }

    /* Estilo para el botón "Anterior" */
    footer button:nth-child(1) {
        display: none; /* Oculta el botón "Anterior" en dispositivos móviles */
    }

    /* Estilo para el reproductor de audio */
    #audioPlayer {
        position: fixed;
        top: 10px;
        left: 10px; /* Alinea el reproductor de audio en la esquina superior izquierda */
        width: calc(100% - 20px);
        z-index: 1000; /* Asegura que esté sobre otros elementos */
    }
}

/* Estilo para el texto de derechos reservados */
.derechos-reservados {
    text-align: center;
    margin: 10px 0;
    position: relative; /* Cambiado a posición relativa */
    bottom: 0; /* Cambiado a bottom 0 */
    right: 0; /* Cambiado a right 0 */
}

.banner {
    background-color: #4a5e8a;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999; /* Asegura que esté por encima de otros elementos */
}
